.registration {
  width: 25em;
  height: 40em;

  text-align: left;
  background: rgba(13, 31, 45, 0.7);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  margin: 0 auto;
  top: 140px;
  box-shadow: 3px 3px 10px;
}

.user-details {
    color: white;
}

.user-details h1 {
    color: #D4A446;
    padding: 0 10px 20px 0;
}

.form {
    padding: 10px 10px 20px 10px;
}

.form select {
  width: 200px;
}

.form input {
  width: 300px;
}