
.App {
  text-align: center;
}

body {
  
}

html {
  height: 100%;
}

body {
  background-image: url("images/map.jpg");
  height: 100%;
  background-position: top;
  background-repeat: repeat;
  background-size: center;
  font-family: 'Cinzel', serif;
}

.App {
  display: flex;
}
