.campaigns-index-container {
  display: flex;
  flex-direction: row;
}

 .filter-spacer {
    flex-basis: 40%;
 }

 .Campaign-Index {
      text-align: left;

      margin: auto;
      background: rgba(58, 9, 13, 0.7);
      font-family: 'Montserrat', sans-serif;
      border: 1px solid;

      width: 630px;
      min-height: 13em;

      border-radius: 5px;
      margin-bottom: 20px;

      padding: 20px;

      position: relative;
      top: 140px;


      box-shadow: 3px 3px 10px;

      transition: all .2s ease-in-out;
  }

  .Campaign-Index:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.005);
  }

  .Campaign-Card {
    display: flex;
    flex-direction: row;
    width: 45em;
    color: white;

  }

  .Campaign-Card-Details h1 {
    font-family: 'Cinzel', serif;
    margin-right: 1em;;
    padding: 2px;
    color: #D4A446;
  }

  .Campaign-Card-Details p {
    width: 23em;
  }

  .Campaign-Card-Details h3 {
    border: solid 1px;
    border-radius: 5px;
    width: 50px;
    padding: 5px;
  }

  .Campaign-Index-Image img {
    display: flex;
    width: 15em;
    height: 10em;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 15px;
    box-shadow: 3px 3px 10px;
    color: black;
    position: relative;
    top: 20px;
  }

  .filter-container {
    background: rgba(58, 9, 13, 0.7);
    box-shadow: 3px 3px 10px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 140px;
    margin-left: 50px;
    position: fixed;
    width: 25em;
    color: black;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .filter-container td {
    padding: 10px;
  }

  .filter-container h2 {
    color: #D4A446;
    padding-top: 10px;
  }

  .filter-container label {
    color: white;
  }

  .filter-list {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .filter-container select {
    width: 200px;
  }

  .campaign-description {
    font-style: italic;
    font-size: 16px;
  }

  .campaign-detail {
    font-size: 14px;
  }

