.Campaign {
  text-align: left;
  background: rgba(58, 9, 13, 0.7);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 70em;
  padding: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 120px;
  box-shadow: 3px 3px 10px;
}

.Campaign-Box  {
  display: flex;
  flex-direction: column;
}

.campaign-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 172px;
}

.edit {
  font-size: 20px;
  padding: 5px;
  background: rgba(58, 9, 13, 0.7);
  color: #D4A446;
  height: 35px;
  width: 80px;
  border: 1px solid #D4A446;
  border-radius: 5px;
  line-height: 2;
}

.edit:hover {
  color: white;
  border-color: white;
}

.edit a:hover {
  color: white;
}

#campaign-edit-container {
  margin: 10px 0 10px 0;
}

#campaign-edit-btn {
  font-size: 20px;
  padding: 5px;
  background: rgba(58, 9, 13, 0.7);
  color: #D4A446;
  height: 35px;
  border: 1px solid #D4A446;
  border-radius: 5px;
  line-height: 1.7;
  width: 200px;
}

#campaign-edit-btn:hover {
  color: white;
  border-color: white;
}

#campaign-edit-btn a:hover {
  color: white;
}

.player-box {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  height: 100%;
}

#campaign-join-requests {
  border: none;
  color: white;
  border-radius: 5px;
  background: rgba(13, 31, 45, 0.7);
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#campaign-join-requests h3 {
  font-family: 'Cinzel', serif;
  font-size: 25px;
  color:  #D4A446;
  position: relative;
  margin: 0 0 10px 0;
}

#campaign-join-requests .join-request-box {
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0 15px 15px 15px;
  margin-bottom: 20px;
}

#campaign-join-requests .bottom {
  margin-top: 10px;
}

#campaign-join-requests .form {
  padding-left: 0;
  margin-top: 10px;
}

#campaign-join-requests .join-form-heading {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Cinzel', serif;
  font-size: 22px;
  color:  #D4A446;
}

#campaign-join-requests .join-form-message {
  margin-top: 15px;
}

#campaign-join-requests input {
  background: rgba(0, 0, 0, 0);
  color: #D4A446;
  height: 35px;
  width: 80px;
  border: 1px solid #D4A446;
  border-radius: 5px;
  margin-top: 15px;
}

#campaign-join-requests input:hover {
  color: white;
  border-color: white;
}

#campaign-join-requests .username {
  font-size: 18px;
  color:  #D4A446;
}

#campaign-join-requests .message {
  font-size: 18px;
  margin: 0 0 20px 0;
}

#campaign-join-requests textarea {
  width: 430px;
  max-width: 430px;
  background: rgba(0, 0, 0, 0);
  color: lightgrey;
  padding: 5px;
}

.join-status-heading {
  font-family: 'Cinzel', serif;
  color:  #D4A446;
}

.join-status-pending {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
}

.join-status-accepted {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #35a535;
}

.join-status-rejected {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #d12e25;
}

.approve-btn {
  width: 130px;
  height: 30px;
  margin-right: 20px;
  background-color: #35a535;
  border-radius: 5px;
}

.approve-btn:hover {
  color: white;
  border: 1px solid white;
}

.reject-btn {
  width: 130px;
  height: 30px;
  background-color: #d12e25;
  border-radius: 5px;
}

.reject-btn:hover {
  color: white;
  border: 1px solid white;
}

.Campaign-Details h1{
  font-family: 'Cinzel', serif;
  color:  #D4A446;
  margin: auto;
}

.Campaign-Details p {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  /* color: #285D82; */
  color: white;
}

.Campaign-Image {
  flex-basis: 40%;
}

.Campaign-Image img {
    width: 500px;
    height: 300px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 3px 3px 10px;
    margin-bottom: 30px;
}

.bottom-half {
  display: flex;
}

.join-request {
  border-style: solid;
  flex-basis: 40%;
  padding: 10px;
}

.player-list {
  flex-basis: 60%;
  border: none;
}

.player-list h2 {
  font-family: 'Cinzel', serif;
  color:  #D4A446;
  margin: 15px 0px 0px 15px;
  font-size: 25px;
}

.player-list .subtext {
  color:  #D4A446;
  margin: 5px 0 20px 15px;
}

.Campaign-Description {
    font-family: 'Montserrat', sans-serif;
    background: rgba(13, 31, 45, 0.7);
    color: white;
    border-style: 1px solid black;
    border-radius: 5px;
  }

  .reject-btn:hover {
    color: white;
    border: 1px solid white;
  }

  .Campaign-Details h1{
    font-family: 'Cinzel', serif;
    color:  #D4A446;
    margin: auto;
    margin-bottom: 20px;
  }

  .Campaign-Details span {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    /* color: #285D82; */
    color: white;
  }

  .Campaign-Details .link {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    /* color: #285D82; */
    color: black;
    font-weight: bolder;
    font-size: 21px;
    margin-left: 8px;

    position: relative;
    bottom: 4px;
    /* text-shadow: 5px 5px 5px black; */
  }

  .Campaign-Details .link:hover {
    color:  #D4A446;
  }

  .Campaign-Image {
    flex-basis: 40%;
  }

  .Campaign-Image img {
      width: 500px;
      height: 300px;
      border: 1px solid;
      border-radius: 5px;
      box-shadow: 3px 3px 10px;
      margin-bottom: 30px;
  }

  .bottom-half {
    display: flex;
  }

  .join-request {
    border-style: solid;
    flex-basis: 40%;
    padding: 10px;
  }

  .player-list {
    flex-basis: 60%;
    border: none;
  }

  .player-list h2 {
    font-family: 'Cinzel', serif;
    color:  #D4A446;
    margin: 15px 0px 0px 15px;
    font-size: 25px;
  }

  .player-list .subtext {
    color:  #D4A446;
    margin: 5px 0 20px 15px;
  }

  .Campaign-Description {
      font-family: 'Montserrat', sans-serif;
      background: rgba(13, 31, 45, 0.7);
      color: white;
      border-style: 1px solid black;
      border-radius: 5px;
      flex-basis: 100%;
      padding: 20px;
      font-size: 15px;
      width: 36em;
      margin-right: 1em;
  }

  .Campaign-Description h2 {
    font-family: 'Cinzel', serif;
    color:  #D4A446;
    margin-top: 10px;
    font-size: 25px;
  }







