 .Campaign-Index {
   
      text-align: left;

      
      background: rgba(58, 9, 13, 0.7);
      font-family: 'Montserrat', sans-serif;
      border-style:  solid;  
      border-width: 1px;

      width: 600px;
      height: 15em;

      border-radius: 5px;
      margin:0 auto;
      margin-bottom: 20px;
     
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;

      position: relative;
      top: 50px;

     
      box-shadow: 3px 3px 10px;

      transition: all .2s ease-in-out;
  }

  .Campaign-Index:hover {

  transition: all .2s ease-in-out;
  transform: scale(1.005);

  }

  .Campaign-Card {
    display: flex;
    flex-direction: row;
    width: 32em;
    color: white;

  }

  .Campaign-Card-Details h1 {

    font-family: 'Cinzel', serif;
    
    margin-right: 1em;;

    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;

    color: #D4A446;

  }
  .Campaign-Card-Details h1:hover {
 

  }

  .Campaign-Card-Details p {
    width: 20em;
    margin-right: 4em;


  }

 

  .Campaign-Card-Details h3 {
    border-style: solid;  
    border-width: 1px;
    border-radius: 5px;
    width: 50px;
    
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }




  .Campaign-Index-Image img {
    display: flex;
    width: 10em;
    height: 10em;
    border-style: solid;  
    border-width: 1px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 3px 3px 10px;
    color: black;

    position: relative;
    top: 20px; left: 1em;

   
   
  }

  