.join-box {
  display: flex;
  flex-direction: column;
}

.top {
  flex-basis: 30%;
}

.bottom {
  margin-top: 30px;
  flex-basis: 70%;
}

.form {
  margin-top: 20px;
}

.join-requests {
  border: 1px solid;
  border-radius: 2px;
  margin-bottom: 2px;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.join-requests p {
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column; 
}

.user-info {
  flex-basis: 50%;
}

.buttons {
  line-height: 100px;
}

.player-list {
 margin-top: 25px; 
 display: flex;
 border: 2px solid;
 border-radius: 2px;
}

.player {
  display: flex;
  flex-direction: row;
 
}

.player-info {
  padding-left: 15px;
  flex-basis: 80%;
}

.player-img {
  flex-basis: 20%;
}

.player-img img {
  display: flex;
  position: relative;
  left: 5em; top: 1.7em;
  width: 5em;
  height: 5em;
}