.join-box {
  display: flex;
  flex-direction: column;
}

.top {
  flex-basis: 30%;
}

.bottom {
  margin-top: 30px;
  flex-basis: 70%;
}

.form {
  margin-top: 20px;
}

.submit {
  background-color: none;
}

.join-requests {
  border: none;
  border-radius: 5px;
  margin-bottom: 2px;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.join-requests p {
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info {
  flex-basis: 50%;
}

.player-list {
 margin-top: 25px;
 display: flex;
 border-radius: 5px;
 flex-direction: column;
 background: rgba(13, 31, 45, 0.7);
}

.player {
  display: flex;
  flex-direction: row;
  border: 1px solid #D4A446;
  border-radius: 5px;
  width: 450px;
  color: white;
}

.player h3 {
  color: #D4A446;
}

.player img {
  height: 100px;
  width: 100px;
  position: relative;
  right: 20px;
  top: 18px;
}

.player-info {
  padding-left: 15px;
  flex-basis: 80%;
  max-width: 340px;

}

.player-img {
  flex-basis: 20%;
}

.player-img img {
  display: flex;
  position: relative;
  left: 5em; top: 1.7em;
  width: 5em;
  height: 5em;
}

.campaign-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #D4A446;
  border-radius: 5px;
  width: 450px;
  color: white;
}

.campaign-card h3 {
  color: #D4A446;
}

.campaign-card img {
  width: 150px;
  height: 100px;
  display: flex;
  position: relative;
  left: -1em;
  top: 1.3em;
}

.campaign-info {
  padding-left: 15px;
  flex-basis: 80%;
}

.campaign-img {
  flex-basis: 20%;
}