.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  height: 100px;
  background-color: #546A7B;
  font-family: 'Cinzel Decorative', cursive;
  padding-left: 25px;
  z-index: 1;

}

a {
  text-decoration: none;
  color: #D4A446;
}

.logo {
  float: center;
  margin-right: 0;
  line-height: 40px;
}

.login {
  line-height: 100px;
}

.links {
  float: right;
  line-height: 100px;
}

.links a {
  color: black;
}

.navbar h1 {
  font-size: 3em;
}