.splash h1 {
    height: 30px;
    position: relative;
    top: 130px; left: 0px;
    color: black;
    background-color: rgba(249, 194, 99, 0.5);
    font-weight: 900;
    padding: 10px;
    margin-top: -0px;
    margin-bottom: 50px;
}

.splash-details {
    width: auto;
    height: 44em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    top: 200px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 10em;
    padding-bottom: -5em;
    padding-right: 5em;
    position: relative;
    top: 0px; 
}

.image {
    position: relative;
    right: 400px; 
    margin-right: 0;
}

.campaigns {
    color: black;
    width: 12em;
    height: 20em;
    margin: 30px;
    position: relative;
    right: 10px; top: -751px;
    padding: 10px;
    background-image: url("https://i.imgur.com/eXIX00L.png");
    background-repeat: no-repeat;
    background-size: 210px 350px;
    background-position: center; 
}



.campaigns h3 { 
    transition: all .2s ease-in-out;
    color: #0D1F2D;
}

.campaigns h2 {
    padding-bottom: 3em;
}

.campaigns h3:hover { 
    transform: scale(1.1); 
    transition: all .2s ease-in-out;
}

.users {
    color: black;
    width: 12em;
    height: 20em;
    margin: 50px;
    position: relative;
    right: 300px; top: -200px;
    margin-left: 0em;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 320px 350px;
    background-position: center; 
    background-image: url("https://i.imgur.com/JCKxJe6.png");
}

.users h3 { 
    transition: all .2s ease-in-out;
    color: #0D1F2D;
}

.users h2 {
    padding-bottom: 3em;
    padding-right: 50px;
    padding-left: 40px;
}

.users h3:hover { 
    transform: scale(1.1); 
    transition: all .2s ease-in-out;
}

.login {
    color: black;
    width: 12em;
    height: 20em;
    margin: 10px;
    position: relative;
    right: 300px; top: -200px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 320px 350px;
    background-position: center; 
    background-image: url("https://i.imgur.com/uxfQD55.png");
}

.login h3 { 
    transition: all .2s ease-in-out;
    color: #0D1F2D;
}

.login h2 {
    padding-bottom: 3em;
    padding-left: 5px;
    padding-right: 5px;
}

.login h3:hover { 
    transform: scale(1.1); 
    transition: all .2s ease-in-out;
}











