.User-Index {
   
      text-align: left;
      background: rgba(13, 31, 45, 0.7);
    
      font-family: 'Montserrat', sans-serif;
      border-style:  solid;  
      border-width: 1px;
      width: 600px;
      height: 15em;

      border-radius: 5px;
      margin:0 auto;
      margin-bottom: 20px;
     
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;

      position: relative;
      top: 140px;
      box-shadow: 3px 3px 10px;

    transition: all .2s ease-in-out;

  }

  .User-Card {
    display: flex;
    flex-direction: row;
    width: 32em;
    color: white;



  }

  .User-Index:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.005);
  }

  .User-Card-Details h1 {

    margin-right: 1em;;

    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;

    color: #D4A446;

    font-family: 'Cinzel', serif;


  }

  .User-Card-Details h1:hover {

  
    }



  .User-Card-Details {
    width: 30em;
  }

 

  .User-Card-Details h3 {
    border-style: solid;  
    border-width: 1px;
    border-radius: 5px;
    width: 50px;

    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

   
  }


 



  .User-Index-Image img {
    display: flex;
    width: 10em;
    height: 10em;
    border-style: solid;  
    border-width: 1px;
    border-radius: 5px;
    margin-left: 5em;
    margin: 0 auto;
   
    box-shadow: 3px 3px 10px;
    color: black;

    position: relative;
    top: 20px; left: 3em;

    

  
   
  }


  

  