
.user {
  width: 50em;
  text-align: left;
  background: rgba(13, 31, 45, 0.7);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid;  
  border-radius: 5px;
  padding: 20px;
  position: relative;
  margin: 0 auto;
  top: 120px;
  

  box-shadow: 3px 3px 10px;
}

.user-box  {
  display: flex;
  align-items: center;
}

.user-details {
}

.form {
  padding-bottom: 10px;
}

.user-details h1{
  font-family: 'Cinzel', serif;
  /* color: #285D82; */
  color: white;
  margin: auto;
}
.user-details p {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  /* color: #285D82; */
  color: white;
}

.user-image img {
  width: 200px;
  height: 200px;
  border: 1px solid;
  display: flex;
  margin-left: 10em;
  border-radius: 5px;

  box-shadow: 3px 3px 10px;
 
}

.user-campaign p {
  font-family: 'Montserrat', sans-serif;
  /* border-style: solid;  */
  color: white;
}

