.user-container {
  display: flex;
  flex-direction: column;
}

.user-top {
  text-align: left;
  background: rgba(13, 31, 45, 0.7);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  margin: 0 auto;
  top: 120px;
  box-shadow: 3px 3px 10px;
}

.double-column {
  width: 59em;
}

.single-column {
  width: 40em;
}

.user-top h1 {
  color: #D4A446;
}

.user-box  {
  display: flex;
  align-items: center;
}

.form {
  padding-bottom: 10px;
}

.user-details h1{
  font-family: 'Cinzel', serif;
  color: white;
  margin: auto;
}
.user-details p {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  color: white;
}

.user-image img {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  margin-left: 10em;
  border-radius: 100px;
  position: relative;
  left: 35em; bottom: 13em;
  box-shadow: 3px 3px 10px black;
}

.single-column .user-image img {
  left: 16em;
  bottom: 10em;
}

.user-campaign p {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.campaign-box {
  display: flex;
  flex-direction: row;
  border: 3px;
  height: auto;

  color: white;

  margin-bottom: -150px;

  position: relative;
  top:-150px;
}

.campaign-box h1 {
  font-size: 1.5em;
  padding-left: 5px;
  font-family: 'Cinzel', serif;
}

.left-list {
  flex-basis: 50%;
}

.right-list {
  flex-basis: 50%;
}

.center-list {
  margin: auto;
}

.player {
  display: flex;
  flex-direction: row;
  border: solid 1px;
  border-radius: 3px;
  margin: auto;
  margin-bottom: 20px;
}


.player-info {
  margin-right: 0px;
  padding-right: 0px;
  flex-basis: 20%;
}

.player-img {
  padding-left: 0px;
  margin-left: 0px;
}
.player-img img {
  padding-left: 0px;
  margin-right: 100px;
  border: 1px solid;

}