.join-box {
  display: flex;
  flex-direction: column;
}

.top {
  flex-basis: 30%;
}

.bottom {
  margin-top: 30px;
  flex-basis: 70%;
}

.form {
  margin-top: 20px;
}

.submit {
  background-color: none;
}

.join-requests {
  border: none;
  border-radius: 5px;
  margin-bottom: 2px;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.join-requests p {
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info {
  flex-basis: 50%;
}

.player-list {
 margin-top: 25px;
 display: flex;
 border-radius: 5px;
 flex-direction: column;
 background: rgba(13, 31, 45, 0.7);
}

.player {
  display: flex;
  flex-direction: row;
  border: 1px solid #D4A446;
  border-radius: 5px;
  width: 450px;
  color: white;
  padding-bottom: 15px;
}

.player h3 {
  color: #D4A446;
}

.player img {
  height: 100px;
  width: 100px;
  position: relative;
  top: 18px;
  right: -5px;
}

.player h4 {
  margin-bottom: 0;
  color: #8b9faf;
}

.card-value {
  color: white;
}

.player-info {
  padding-left: 15px;
  flex-basis: 80%;
  max-width: 300px;
}

.player-badges {
  flex-basis: 20%;
}

.player .player-delete-btn {
  margin-top: 35px;
  background-color: #d12e25;
  height: 40px;
  width: 120px;
  border-radius: 5px;
}

.player .player-delete-btn:hover {
  color: white;
}

.player-img {
  flex-basis: 20%;
}

.player-img img {
  display: flex;
  position: relative;
  left: 5em; top: 1.7em;
  width: 5em;
  height: 5em;
}

.campaign-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #D4A446;
  border-radius: 5px;
  width: 450px;
  color: #8b9faf;
  background: rgba(58, 9, 13, 0.7);
  margin-bottom: 15px;
}

.campaign-card h3 {
  color: #D4A446;
}

.campaign-card .campaign-img img {
  width: 150px;
  height: 100px;
  display: flex;
  position: relative;
  top: 1.3em;
  margin: auto;
}

.campaign-info {
  padding-left: 15px;
  flex-basis: 55%;
}

.campaign-info-playstyles {
  line-height: 1.5;
}

.campaign-img {
  flex-basis: 45%;
}